[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

alagitpull = "==0.0.19"
isort = "==4.3.4"
"flake8" = "==3.5.0"
vulture = "==0.26"
pytest = "==3.4.0"
releases = "==1.4.0"
sphinx = "==1.7.0"


[packages]
"e1839a8" = {path = ".", editable = true}
