[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
alagitpull = "*"
Sphinx = ">=2.0.0"
isort = "*"
flake8 = "*"
pytest = "*"
cihai = {path = ".",editable = true}
black = "==19.3b0"
sphinx-issues = "*"
pytest-cov = "*"
coverage = "*"

[packages]
kaptan = "<1"
colorama = "*"
appdirs = "*"
unihan-etl = "~=0.10.0"
SQLAlchemy = "*"

[requires]
python_version = "3"
